@font-face {
    font-family: Raleway-ExtraLight;
    src: url(../fonts/raleway/Raleway-ExtraLight.ttf);
}

@font-face {
    font-family: Raleway-ExtraBold;
    src: url(../fonts/raleway/Raleway-ExtraBold.ttf);
}

body {
    margin: 0px;
    background-image: url("https://images.unsplash.com/photo-1416339134316-0e91dc9ded92?q=80&fm=jpg&s=c5b006c877412a97d41a3ecb8bf7f0c1");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover

}

.background {
    position: static;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.list-phone {
    position: relative;
    background-image: url("../images/iphone_PNG5724.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 1000px;
    margin: 0 auto;
    background-size: cover;
}

.display {
    position: absolute;
    background-color: #c0c0c0;
    border: 6px solid white;
    left: 24px;
    top: 129px;
    width: 436px;
    height: 715px;
    z-index: 9999999;
}

.display h1 {
    color: white;
    text-align: center;
    margin: 0px;
    padding-top: 35px;
    position: relative;
}

.top {
    background-color: #DA4936;
    height: 110px;
    font-family: Raleway-ExtraLight;
}

.add-items {
    position: relative;
    background-color: #7bc1bf;
    border-bottom: 4px solid #548987;
    height: 100px;
}

.add-items-bar {
    position: absolute;
    height: 45px;
    width: 345px;
    background-color: white;
    border-radius: 9px;
    top: 25px;
    left: 9px;
    font-family: Raleway-ExtraLight;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: larger;
}

input {
    border: none;
    height: 40px;
    width: 300px;
    margin-top: 5px;
    font-family: Raleway-ExtraLight;
    font-size: 40px;
}

textarea:focus, input:focus {
    border: none;
    outline: none;
}

.add-items-bar h3 {
    color: lightgrey;
}

.add-items .clr h1 {
    position: absolute;
    color: lightgrey;
    font-family: Raleway-ExtraLight;
    left: 331px;
}

.add-items .clr h1:hover {
    cursor: pointer;
    font-family: Raleway-ExtraBold;
}

.add-button {
    position: absolute;
    background-color: #009e00;
    border-bottom: 2px solid #007000;
    border-right: 2px solid #007000;
    border-radius: 9px;
    height: 45px;
    width: 52px;
    font-family: Raleway-ExtraLight;
    color: white;
    left: 374px;
    top: 30px;
}

.add-button:hover, .add-button h2:hover {
    cursor: pointer;
}

.add-button:active, .add-button h2:active {
    cursor: pointer;
    background-color: #00c500;
}

.add-button h2 {
    font-size: 1.3em;
    position: absolute;
    bottom: -9px;
    left: 8px;
}

.list-items {
    position: relative;
    margin-top: 10px;
    display: block;
    height: 45px;
}

.list-items .ind-items {
    position: absolute;
    height: 50px;
    width: 422px;
    right: 7px;
    background-color: white;
    font-family: Raleway-ExtraLight;
    color: black;
    font-size: 1.5em;
    border-radius: 9px;
}

.list-items .ind-items h3 {
    position: absolute;
    left: 49px;
    top: -16px;
}

.list-items .ind-items .check-box {
    position: absolute;
    z-index: 10;
    width: 20px;
    height: 20px;
    border: 2px solid lightgrey;
    top: 16px;
    left: 14px;
}

.list-items .ind-items .check-box:hover {
    cursor: pointer;
    border: 4px solid lightgrey;
}

.list-items .ind-items .del h1 {
    position: absolute;
    color: lightgrey;
    font-family: Raleway-ExtraLight;
    left: 389px;
    top: -25px;
    font-size: 1.3em;
}

.list-items .ind-items .del h1:hover {
    cursor: pointer;
    font-family: Raleway-ExtraBold;
}

.line {
    position: absolute;
    width: 320px;
    border: 1px solid lightgrey;
    top: 27px;
    left: 40px;
}

.checked {
    color: lightgrey;
}

.check {
    width: 30px;
    height: 30px;
    position: relative;
    transform: rotate(-5deg);
    z-index: 20;
    margin-left: 12px;
    margin-top: 10px;
}

.left {
    width: 7px;
    border: 1px solid lightgrey;
    position: absolute;
    top: 20px;
    left: 3px;
    transform: rotate(45deg);
    background-color: lightgrey;
    color: lightgrey;
}

.right {
    width: 20px;
    border: 1px solid lightgrey;
    position: absolute;
    top: 15.5px;
    left: 7px;
    transform: rotate(-45deg);
    background-color: lightgrey;
    color: lightgrey;
}

.container {
    overflow: scroll;
    height: 500px;
}

